.detalle_cuerpo{
	width: 100%;
	float: left;
	margin-top: 5%;
	margin-bottom: 5%;
	border: 1px solid #ddd;

}
.portada{
	width: 50%;
	float: left;
	/*background: red;*/
	border-right: solid 2px #ddd; 
}
.portada img{
	width: 50%;
}
.detalles{
	width: 50%;
	float: left;
	/*background: yellow;*/
}
.detalles div {
	padding-left: 8%;
	margin: 10px 0 0 0; 
	text-align: left;
	float: left;
	width: 100%;
	font-size: 16px;
}
.detalles div span{
	color:#ff5248;
}
#cuerpo  .detalles > a:not(.botonr){
	float: right;
	font-size: 16pt;
	font-weight: 600;
	width: 25%;
	text-decoration: none;
	color: #fff;
	background-color: #ff5248;
	margin-right: 8%; 
	padding: 7px px;
	border-radius: 6px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
}

#desc{
	font-family: serif;
	font-size: 11pt;
	text-align: justify;
	padding-right: 8%;
}