<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Libros Usuario</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script type="text/javascript" src="../assets/js/angular.min.js"></script> 
  	<script type="text/javascript" src="../assets/js/angular-route.min.js"></script> 
  	<script type="text/javascript" src="../assets/js/angular-resource.min.js"></script> 
	<script src="../controller/ver_libros.js"></script>
</head>
<body>

	<div ng-app="app">
		<h1>Biblioteca Personal</h1>
		<div ng-controller="controlador">
		<input type="text" name="buscaNombre" ng-model="busqueda" placeholder="Buscar..."><span class="glyphicon glyphicon-search"></span>
			<table class="table table-striped">
				<tr>
					<td><a href="" ng-click="ordenar('nombre')">Nombre</a></td>
					<td><a href="" ng-click="ordenar('autor')">Autor</a></td>
					<td>Imagen</td>
					<td>Fecha Publicacion</td>
					<td>Opciones</td>


				</tr>
				<tr ng-repeat="data in datos | orderBy:filtro | filter:busqueda" >
					<td>{{data.nombre}}</td>
					<td>{{data.autor}}</td>					
					<td><img src="../assets/img/libro/{{data.imagen}}" class="col-lg-2"></td>
					<td>{{data.f_public}}</td>
					<th colspan="2">
						<a href="#"><span class="glyphicon glyphicon-pencil">Editar   </span></a><br>

						<a href="#"><span class="glyphicon glyphicon-remove">Remover</span></a>
					</th>	
					
					
									
				</tr>	
			</table>
		</div>		
	</div>	
</body>
</html>