

	<div>
		<h1>Biblioteca Personal</h1>
		<div>
			<table class="table table-striped">
				<tr>
					<td><a href="" ng-click="ordenar('nombre')">Nombre</a></td>
					<td><a href="" ng-click="ordenar('autor')">Autor</a></td>
					<td>Imagen</td>
					<td>Fecha Publicacion</td>
					<td>Opciones</td>


				</tr>
				<tr ng-repeat="data in names | orderBy:filtro | filter:busqueda" >
					<td>{{data.nombre}}</td>
					<td>{{data.autor}}</td>					
					<td><img src="../assets/img/libros/{{data.imagen}}" class="col-lg-2"></td>
					<td>{{data.f_public}}</td>
					<th colspan="2">
						<a href="#"><span class="glyphicon glyphicon-pencil">Editar   </span></a><br>

						<a href="#"><span class="glyphicon glyphicon-remove">Remover</span></a>
					</th>	
					
					
									
				</tr>	
			</table>
		</div>		
	</div>	
