<?php session_start();
if (!isset($_SESSION["user_id"]) || $_SESSION["user_id"] == null) {
    print "<script>alert(\"Acceso invalido!\");window.location='login.php';</script>";
} ?>
<!DOCTYPE html>

<html lang="es" >
<head>
	<meta charset="utf-8">
	<title>My TBOOK</title>
	<link rel="stylesheet" type="text/css" href="../resourse/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../resourse/css/usuario.css">
	<link rel="stylesheet" type="text/css" href="../resourse/css/star-rating.css">
	<script src="../resourse/jquery/jquery-3.3.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-resource.min.js"></script>	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-route.min.js"></script>	
	<script  src="../controlador/app.js"></script>
	<script  src="../controlador/controller.js"></script>

</head>
<body ng-app='app' ng-controller='ctrlUsuario'>
	
<div >
	<h1 align="center">MI TBOOK</h1>
	<nav class="woocommerce-MyAccount-navigation">
		<ul class="woocommerce-MyAccount-navigation">
			<li class="woocommerce-MyAccount-navigation not(.is-active):hover ">
				<a href="#!perfil" class="camb" >PERFIL</a>
			</li>
			<a href="#!perfil" class="camb" ><li class="woocommerce-MyAccount-navigation not(.is-active):hover ">
				Libro
			</li></a>
			
			
		</ul>
	</nav>
	<div ng-repeat="usuario in usuarios">
		
		<div>
			<img src="../img/4.jpg" class=" rounded-circle rounded mx-auto d-block " alt="Cinque Terre" width="196" height="195">
		</div >
		
		<div>
			<p >
				<label>
					Nombre:
				</label>
				<label>
					{{usuario.Nombre}}
				</label>
			</p>
			<p>
				<label>
					Apellido:
				</label>
				<label>
				{{usuario.Apellido}}
				</label>
			</p>
			<p>
				<label>
					Correo:
				</label>
				<label>
				{{usuario.Correo}}
				</label>
			</p>

		</div>
		<button class="btn btn-danger">EDITAR</button>
		
	</div>
	<br>
	<br>
	<h3>Calificación</h3>
	<div class="star">
		<p class="clasificacion star1">
   			<input id="radio1" name="estrellas" value="5" type="radio"><!--
    	--><label  class="star2" for="radio1">★</label><!--
    	--><input id="radio2" name="estrellas" value="4" type="radio"><!--
    	--><label  class="star2" for="radio2">★</label><!--
    	--><input id="radio3" name="estrellas" value="3" type="radio"><!--
    	--><label class="star2" for="radio3">★</label><!--
    	--><input id="radio4" name="estrellas" value="2" type="radio"><!--
    	--><label class="star2" for="radio4">★</label><!--
    	--><input id="radio5" name="estrellas" value="1" type="radio"><!--
    	--><label class="star2" for="radio5">★</label>
  		</p>

	</div>

</div>
	
	<div ng-view></div>

</body>
</html>
